.contact-section {
    align-items: center;
    background-color: var(--light-grey);
    cursor: default;

    .fa-paperplane {
        font-size: 3rem;
        color: var(--black);
    
        transition: all 0.25s ease-in-out;
    }

    .contact-section-phrase {
        padding: 0 30rem;
        line-height: 1.5rem;
        font-size: 1.15rem;
        font-weight: 300;
        text-align: center;
    }

    .email-button {
        font-size: 1.25rem;
        font-weight: 300;
        text-decoration: none;
        width: fit-content;
        color: var(--black);
        background-color: transparent;
        padding: 0.65rem 1.25rem;
        border: 2px solid var(--black);
        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--white);
    background-color: var(--black);
        }
    }
}

@media screen and (max-width: 1024px) {
    .fa-paperplane {
        font-size: 2.5rem;
    }

    .contact-section-phrase {
        padding: 0 18rem;
        line-height: 1.25rem;
        font-size: 0.95rem;
    }

    .email-button {
        font-size: 1.1rem;
        padding: 0.5rem 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .fa-paperplane {
        font-size: 3rem;
    }

    .contact-section-phrase {
        padding: 0 6rem;
        font-size: 1.25rem;
    }

    .email-button {
        font-size: 1.25rem;
        padding: 0.65rem 1.25rem;
    }
}

@media screen and (max-width: 426px) {
    .fa-paperplane {
        font-size: 2.75rem;
    }

    .contact-section-phrase {
        padding: 0 2rem;
        font-size: 1.15rem;
    }

    .email-button {
        font-size: 1.15rem;
    }
}
