.hero-container {
    max-width: 100%;
    height: 100vh;

    position: relative;
}

.hero-section {
    background-image: url('../../public/assets/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    width: 100%;
    height: 100%;

    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
}

.hero-overlay {
    position: fixed;
    z-index: -5;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.25;
}

.hero-content {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;

    color: var(--white);
}

.hero-title {
    line-height: 4.5rem;
    text-transform: uppercase;

    font-size: 4rem;
    font-weight: 300;
}

.hero-description {
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.25rem;
}

.fa-down {
    position: absolute;
    left: 50%;
    bottom: 1.5rem;
    color: red;
    transform: translate(-50%, -50%);
    font-size: 2.25rem;
    color: var(--white);
    opacity: 0.8;
}

.fa-down:hover {
    cursor: pointer;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1024px) {
    .hero-title {
        line-height: 4rem;
        font-size: 3.5rem;
    }

    .hero-description {
        line-height: 1.25rem;
        font-size: 0.8rem;
    }

    .fa-down {
        bottom: 1.25rem;
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .hero-title {
        line-height: 4.5rem;
        font-size: 4rem;
    }

    .hero-description {
        line-height: 1.5rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 426px) {
    .hero-title {
        line-height: 2.75rem;
        font-size: 2.65rem;
    }

    .hero-description {
        line-height: 0.65rem;
        font-size: 0.6rem;
    }

    .fa-down {
        bottom: 1rem;
        font-size: 1.75rem;
    }

    .hero-content {
        gap: 1.5rem;
    }
}
