.projects-section {
    background-color: var(--white);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;

    padding: 0 8rem;
}

@media screen and (max-width: 1024px) {
    .projects-container {
        column-gap: 2.75rem;
        row-gap: 2.75rem;
        padding: 0 4rem;
    }
}

@media screen and (max-width: 768px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 3rem;
    
        padding: 0 6rem;
    }
}

@media screen and (max-width: 426px) {
    .projects-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 2rem;
    }
}
