.project {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.project-main-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.project-image-container {
    width: 100%;
    background-color: var(--black);
    line-height: 0;

    position: relative;
}

.project-image {
    width: 100%;
    transition: opacity 0.4s ease-in-out;
}

.project-main-container:hover .project-image {
    opacity: 0.5;
    cursor: pointer;
}

.live-site-url {
    position: absolute;
    z-index: 2;
    bottom: -2.65rem;
    left: 1rem;
    padding: 0.75rem 1rem;
    font-size: 0.9rem;
    text-transform: uppercase;

    color: var(--white);
    background-color: var(--black);

    transition: bottom 0.4s ease-in-out;
}

.source-url {
    position: absolute;
    z-index: 2;
    bottom: -2.65rem;
    right: 1rem;
    padding: 0.75rem 1rem;
    font-size: 0.9rem;
    text-transform: uppercase;

    color: var(--white);
    background-color: var(--black);

    transition: bottom 0.4s ease-in-out;
}

.live-site-url:hover, .source-url:hover {
    background-color: var(--white);
    color: var(--black);
}

.project-main-container:hover .live-site-url, .project-main-container:hover .source-url {
    bottom: 0.5rem;
}

.project-title {
    font-size: 1.15rem;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .live-site-url {
        bottom: -2.65rem;
        left: 0.75rem;
        padding: 0.5rem 0.8rem;
        font-size: 0.75rem;
    }
    
    .source-url {
        bottom: -2.65rem;
        right: 0.75rem;
        padding: 0.5rem 0.8rem;
        font-size: 0.75rem;
    }

    .project-title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 426px) {
    .live-site-url {
        bottom: -2.65rem;
        left: 0.75rem;
        padding: 0.75rem 1rem;
        font-size: 0.9rem;
    }
    
    .source-url {
        bottom: -2.65rem;
        right: 0.75rem;
        padding: 0.75rem 1rem;
        font-size: 0.9rem;
    }

    .project-title {
        font-size: 1.25rem;
    }
}
