.skill-container {
    width: 100%;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-icon {
    width: 80%;
    height: auto;
    transition: 0.3s ease-in-out;
}

.skill-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}
